@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
    }
}